// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: Butler Stencil;
  font-style: "regular";
  src: url(../fonts/Butler_Regular_Stencil.otf);
}

@font-face {
  font-family: Butler Stencil;
  font-style: "bold";
  src: url(../fonts/Butler_Bold_Stencil.otf);
}
